body {
    background: rgb(0, 0, 124);
    background: linear-gradient(90deg, rgba(0, 0, 124, 1) 0%, rgba(6, 7, 233, 1) 50%, rgba(0, 232, 255, 1) 100%);
}

.pie {
    background-color: #4B4B4B;
    margin-top: 2rem;

}